<div class="mainCard">

  <mat-card class="beforeNoteCard">
    <p> <input type="text" placeholder="Title" name="" id="input" >  </p>
    <p> <input type="text" placeholder="Take a note..."   id="input">
       <span id="icons"> <mat-icon>check_box</mat-icon> </span>
       <span id="icons"> <mat-icon>brush</mat-icon> </span>
       <span id="icons"> <mat-icon>image</mat-icon> </span>
    </p>

    <div class="mainIcons">
      <mat-icon matTooltip="Remind Me" (click)="onNotification()">notifications</mat-icon>
      <mat-icon matTooltip="Collaborator" (click)="onCollaborator()">account_box</mat-icon>
      <mat-icon matTooltip="Change Color" (click)="onColor()">palette</mat-icon>
      <mat-icon matTooltip="Add Image" (click)="onImage()">image</mat-icon>
      <mat-icon matTooltip="Archive" (click)="onArchive()">archive</mat-icon>

    </div>

  </mat-card>

</div>

<div>

</div>