<div class="mainDiv">

    <mat-card class="mainCard">
      
      <div class="row" >
        <div class="col-lg-3"></div>
        <div class="col-lg-4">
            <mat-card-header>
                <div mat-card-avatar class="cardHeader-image"></div>
                <mat-card-title class="cardTitle"> 
                    <div class="heading">  <h3>   <span>F</span><span>U</span><span>N</span><span>D</span><span>O</span><span>O</span>      </h3> </div>
                </mat-card-title>
        
                <mat-card-subtitle>
                    <div class="text-center">
                        <div class="signIn">   <p>  Sign In   </p></div>
                        <div class="signIn1">  <p>  With Your FUNDOO Account  </p></div> 
                      </div>
        
                </mat-card-subtitle>
        
              </mat-card-header>
        </div>
      </div>
     
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()" >
    
                
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" placeholder="Email" >
                  </mat-form-field>
                
    
                
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" type="password" placeholder="Password" >
                  </mat-form-field>
                
    
    
          <div class="btnlogin">
               <button mat-raised-button color="primary" type="submit">Log In</button>
          </div>
    
    
      </form>
    
      <span class="forgetPass" style="font-size:15px;color:blue" routerLink="/forget" > Forget Password ?</span> <br><br>
              <p id="registerPara"> 
                
                <span> New User ? </span>
                <span routerLink="/register">REGISTER-HERE</span>
                <!-- <span routerLink="/reset">RESET PASSWORD</span> -->
              </p>
    </mat-card>
    
    
    </div>