<div class="mainDiv" style="height: 100vh;">

  <div style="margin:auto auto" fxLayout="column" fxLayout.lg="row">
    <div fxLayout="row" style="">
      <div  style="">
        <mat-card class="mainCard">
          <div>
            <div class="heading">    <span>F</span><span>U</span><span>N</span><span>D</span><span>O</span><span>O</span>    </div>
          </div>
         
          <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)" >
        
            <div  fxLayout="column" fxLayoutGap="10px">
                    <div>
                      <mat-form-field  appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" placeholder="Email">
                        <mat-error>* </mat-error>
                      </mat-form-field>
                    </div>
        
                    <div>
                      <mat-form-field  appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput formControlName="password" type="password" placeholder="Password" >
                      </mat-form-field>
                    </div>
            </div>
        
              <div class="btnlogin">
                   <button mat-raised-button color="primary" type="submit">Log In</button>
              </div>
        
        
          </form>
        
          <span class="forgetPass" style="font-size:15px;color:blue" routerLink="/forget" > Forget Password ?</span> <br><br>
                  <p id="registerPara"> 
                    
                    <span> New User ? </span>
                    <span routerLink="/registerWithService">REGISTER-HERE</span>
                    <!-- <span routerLink="/reset">RESET PASSWORD</span> -->
                  </p>
        </mat-card>
      </div>
    </div>  
      <div fxLayout *ngIf="allData.length>0" style="background: rgb(156, 156, 156)">
          <div fxLayout="row" *ngFor="let item of allData" fxLayoutAlign="space-around center">
            <mat-card class="matCard"  >
              <h6>Price : $ {{item.price}} / months </h6>
              <mat-divider></mat-divider>
              <p  style="color: blue"> {{item.name}} </p>
              <ul>
                <li> $ {{item.price}} / month </li>
                <li> {{item.description}} </li>
              </ul>
            </mat-card>
  
            <mat-card fxLayout="column" [ngStyle]="{'background-color' : item.id === productId ? 'rgb(194, 194, 45)' : 'grey'}" dir="rtl" class="subCard"  fxLayoutAlign="end center">
              <mat-card-actions fxFlexAlign="end"> {{item.id === productId ? 'Selected' : 'Add to Cart'}} </mat-card-actions>
            </mat-card>
          </div>
      </div>
  
  </div>
    
</div>