<div fxLayout="row">
    <div class="mainIcons">
        <mat-icon matTooltip="Remind Me" (click)="onNotification()">notifications</mat-icon>
        <mat-icon matTooltip="Collaborator" (click)="onCollaborator()">account_box</mat-icon>
        <mat-icon matTooltip="Change Color" [matMenuTriggerFor]="menu">palette</mat-icon>
            <mat-menu  #menu="matMenu" yPosition="above">
          
              <div class="row" mat-menu-item style="position: relative;max-width: 150px;"> 
                    <span (click)="changeColor(color)" id="color" *ngFor="let color of colors" [ngStyle]="{'background':color}">  </span>
              </div>
            
            </mat-menu>
        <mat-icon matTooltip="Add Image" (click)="onImage()">image</mat-icon>
        <mat-icon matTooltip="Archive" (click)="onArchive()">archive</mat-icon>
    </div>
</div>