.mainIcons mat-icon{
    padding: 0px 25px 0px;
    font-size: 20px;
    margin-bottom: -1rem;
    color: rgba(0,0,0,0.7);
}
#color{
    position: relative;
    float: left;
    height: 25px;
    width: 25px;
    border-radius: 50%;
}