.mainIcons mat-icon{
    padding: 0px 20px 0px;
    font-size: 20px;
    margin-bottom: 0;
    color: rgba(0,0,0,0.7);
}
#color{
    position: relative;
    float: left;
    // float: inline-start;
    height: 25px;
    width: 25px;
    // box-sizing: border-box;
    border-radius: 100%;
}
.beforeNoteCard1{
    position:relative;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.collaboratorAvatar{
    border: 1px solid;
    height:25px;
    width: 25px;
    background: wheat;
    margin: 1px;
}