<div style="padding: 5px;border: 1px solid rgb(99, 102, 102);border-radius: 10px;">
    <p align="center"> Question Asked !</p>
   <mat-divider></mat-divider>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <div  style="width:150px;height:auto;border-radius: 10px;font-size: 12px;margin: 10px;box-shadow: 0px 0px 2px;background: rgb(216, 212, 212);font-family:monospace" >
            <span style="margin-left: 6px" [innerHTML]="question" ></span>
        </div>

        <div style="padding: 10px;">
            <div fxLayoutAlign="space-between center">
                <span style="padding:5px" > <button mat-icon-button> <mat-icon  style="font-size: 18px"> reply </mat-icon> </button> </span>
                <span style="padding:5px"> <button mat-icon-button (click)="onLike()"> <mat-icon   style="font-size: 18px;" >thumb_up </mat-icon> </button> </span>
            </div>
        </div>
    </div>

    <div id="action-description">
        <!-- <p>This sample demonstrates the full features of rich text editor that includes all the tools and functionalities.</p> -->
      </div>
      <div class="control-section">
          <form action="" [formGroup]="editorForm" (ngSubmit)="onSubmit()">
            <ejs-richtexteditor formControlName="editor" #toolsRTE id='alltoolRTE'  [toolbarSettings]='tools' [showCharCount]='true' (actionBegin)='handleFullScreen($event)' (actionComplete)='actionCompleteHandler($event)' [maxLength]='maxLength'>
                <ng-template #valueTemplate>
                </ng-template>
            </ejs-richtexteditor>
            <button mat-button style="float: right;color:blueviolet" >Reply</button>
          </form>
      </div>


</div>