<div fxLayout="row" class="toolbar-div">
  
    <mat-toolbar fxLayout="row" class="toolbar">
          <div fxLayout="row" fxFlex="5">
            <i (click)="sidenav.toggle()" class="material-icons"> dehaze  </i>
          </div>


          <div  fxLayout="row" fxFlex class="fundooHeader">
              <div>
                <img src="../../../assets/images/download.png" class="header-image" alt="">
              </div>
              <div class="fundooName">
                <span id="heading">{{headingName}}</span>
              </div>
          </div>


          <div class="cardDiv" fxFlex="50">
            <div fxLayout="row" id="toolbarSearch">
              <i class="material-icons">search</i> <input matInput [(ngModel)]="searchvalue" (keyup)="onKey()"   class="searchinput" placeholder="Search">
            </div>
          </div>


          <div style="position:relative;" fxFlex fxLayoutGap="30%" fxFlexOffset="10" fxFlexAlign="auto" fxLayoutAlign="space-between center" >

                    <div>         <mat-icon>refresh</mat-icon>                              </div>
                    <div>         <mat-icon> settings </mat-icon>                           </div>
                    <div>         <app-listgrid class="material-icons"> </app-listgrid>     </div>
                    <div style="border-radius: 50%" [style.background]=" img.length > 0 ? 'cornsilk' : null">
                      <img [matMenuTriggerFor]="menu" class="matAvatar" src="{{ img }}" alt="{{name[0]}}">
                    </div>
          </div>

        
      <mat-menu style="width: 100%" #menu="matMenu">

              <div class="container">
                <div class="row">
                  <div class="col-md-3">
                  <img mat-card-avatar class="profileavatar" src="{{img}}">  
                  </div>
                  <div class="col-md-1"></div>
                  <div class="col-md-7">
                    <mat-card-title style="font-size: 18px;"> {{name}} </mat-card-title>
                    <mat-card-subtitle> {{email}} </mat-card-subtitle>
                  </div>
                </div>
                <div class="row p-1">
                    <button class="m-2" mat-button style="background:tomato" (click)="imageupload()">Change Profile</button>
                    <button class="m-2" mat-button style="background:tomato" (click)="signOut()">Sign Out</button>
                </div>
              </div>
              
      </mat-menu>

    </mat-toolbar>

</div>

<mat-sidenav-container class="sideNavContainer">

  <mat-sidenav #sidenav mode="side" class="sidenavigation">
    <mat-nav-list class="listItems">
      
              <div id="sidenavList" class="active">
                  <mat-list-item class="sidelist"  (click)='getName()' routerLink="notes"> 
                    <span><mat-icon class="listIcons">lightbulb_outline</mat-icon></span> 
                    <span  #sidenavList1 class="listNames"> Notes </span> 
                  </mat-list-item>
              </div>

             

              <div id="sidenavList">
                  <mat-list-item class="sidelist" routerLink="remainder">
                      <span><mat-icon class="listIcons">notifications_none</mat-icon></span>
                      <span class="listNames"> Remainder </span> 
                  </mat-list-item>
              </div>
            
            <mat-divider></mat-divider>  
             
              <p style="font-size: 15px;padding-top: 5px;padding-left: 5px;">LABELS</p>
                 
              <mat-list-item *ngFor="let item of labelArrayList" routerLink="label"> 
                  <span><mat-icon class="listIcons">label_outline</mat-icon></span> 
                  <span class="listNames" (click)="getNoteOfLabel(item)"   > {{ item.label }}</span>   
                </mat-list-item>      
              <div id="sidenavList" style="padding-top: 0px">
                       

                  <mat-list-item class="sidelist" (click)="editLabels()" routerLink="label"> 
                    <span><mat-icon class="listIcons">edit</mat-icon></span> 
                    <span class="listNames"> Edit Labels </span>   
                  </mat-list-item>
              </div>

              <mat-divider></mat-divider>  

              
              <div id="sidenavList">
                  <mat-list-item class="sidelist" routerLink="archives"> 
                    <span><mat-icon class="listIcons">archive</mat-icon> </span> 
                    <span class="listNames"> Archives </span> 
                  </mat-list-item>
              </div>

             

              <div id="sidenavList">
                  <mat-list-item class="sidelist" routerLink="trash"> 
                    <span><mat-icon class="listIcons">delete_outline</mat-icon></span> 
                    <span class="listNames"> Trash </span> 
                  </mat-list-item>
              </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="sidenavContent">
      <router-outlet></router-outlet>
    <!-- <app-labels [childMessage]="parentMessage"></app-labels> -->
  </mat-sidenav-content>

 


</mat-sidenav-container>
