<div fxFlex.lt-sm="100%" fxFlex.lt-lg="80" fxFlex.lt-md="80" fxFlex="60"
  style="position: relative;width: 60%;margin-bottom:0;margin: 0 auto;">
  <mat-card #matCard *ngFor="let items of sampleCardArray | search: searchInput ; let i = index"
    [style.marginLeft]="this.inputhandle ? '15%' : '10px'" [style.width]="this.inputhandle ? '45vw' : null"
    [ngStyle]="{'background':items.color}"
    style="position:relative;float: left;margin-left: 10px;margin-bottom: 10px;margin-top: 10px;word-break: break-all"
    class="beforeNoteCard1">

    <div (click)="updateNote(items)">
      <div id="title">{{items.title}} </div>
      <div id="description">{{items.description}}</div>
      <!-- <p> <input type="text" aria-label="Title" value="{{items.title}}"  id="input" >  </p> -->
      <!-- <p> <input type="text"  aria-label="Take a note..." value="{{items.description}}" id="input">   </p> -->
    </div>

    <mat-chip-list fxLayout="row">
      <div fxLayoutAlign="center center" *ngFor="let l of items.noteLabels" style="height:85%;">
        <mat-chip *ngIf="l.isDeleted == false" style="font-size: 12px;height: 55%;"> {{ l.label }}
          <mat-icon align="end" style="font-size: 15px;margin:auto;" (click)="onRemoveLabel(l.id,items.id)">close
          </mat-icon>
        </mat-chip>
      </div>
    </mat-chip-list>

    <mat-chip-list *ngIf="items.reminder.length>0" fxLayout="row">
      <mat-chip style="font-size: 12px;height: 55%;"> {{ items.reminder | date:'MMM d, y, h:mm ' }}
        <mat-icon align="end" style="font-size: 15px;margin:auto;" (click)="onRemoveReminder(items.reminder,items)">
          close</mat-icon>
      </mat-chip>
    </mat-chip-list>

    <!-- <mat-chip-list  *ngIf="items.collaborators.length>0" fxLayout="row">
        <mat-chip *ngFor="let colab of items.collaborators"  style="font-size: 12px;height: 55%;"> {{ colab.firstName }}    </mat-chip>
        <div mat-card-avatar style="background-size: cover" [ngStyle]="{'background-image' : 'url('+'http://34.213.106.173/'+items.imageUrl+')'}" ></div>
      </mat-chip-list> -->

    <div *ngIf="items.collaborators.length>0" fxLayout="row">
      <button mat-card-avatar mat-icon-button matTooltip=" {{ colab.email }} "
        style="border: 1px solid;height:25px;width: 25px;background: wheat;margin-left:5px;"
        *ngFor="let colab of items.collaborators" fxLayout="column" fxLayoutAlign="center center" value="">
        {{colab.firstName[0]}} </button>
    </div>


    <!-- <div (click)="onQuestionAnswer(items,question)" class="askquestion" fxLayoutAlign="center center">
        <span style="font-size: 12px;"> Ask Question </span>
      </div> -->


    <!-- <div style="border: 1px solid coral;background-color: rgb(235, 231, 226);border-radius: 10px" *ngIf="items.questionAndAnswerNotes.length > 0" >
        <div style="margin-left: 15px" *ngFor="let q of items.questionAndAnswerNotes" >
          {{q.message}}
        </div>
      </div> -->


    <div class="mainIcons">
      <mat-icon matTooltip="Remind Me" [matMenuTriggerFor]="reminder">notifications</mat-icon>
      <mat-menu #reminder="matMenu" yPosition="below">
        <span style="font-size: 13px;">Reminder :</span>
        <mat-list fxLayout="column" fxLayoutAlign="space-between" role="list">
          <mat-list-item mat-button (click)="setReminderToday(items)" style="font-size: 13px;" role="listitem"> <span
              style="font-size: 15px;">Later Today</span> <span> &nbsp;&nbsp;&nbsp; 8.00 PM</span></mat-list-item>
          <mat-list-item mat-button (click)="setReminderTomorrow(items)" style="font-size: 13px;" role="listitem"> <span
              style="font-size: 15px;">Tomorrow</span> <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8.00 AM</span>
          </mat-list-item>
          <mat-list-item mat-button (click)="setReminderWeekly(items)" style="font-size: 13px;" role="listitem"> <span
              style="font-size: 15px;">Next Week</span> </mat-list-item>
          <!-- <mat-form-field class="example-full-width">
                        <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="Choose a date">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>                       -->
        </mat-list>
      </mat-menu>
      <mat-icon matTooltip="Collaborator" (click)="addCollaborator(items,myTemplate)">account_box</mat-icon>
      <mat-icon matTooltip="Change Color" [matMenuTriggerFor]="menu1">palette</mat-icon>
      <mat-menu #menu1="matMenu" yPosition="above">
        <div class="row" mat-menu-item style="position: relative;max-width: 150px;">
          <div id="color" (click)="updateColor(items,color)" *ngFor="let color of colors"
            [ngStyle]="{'background':color}"> </div>
        </div>
      </mat-menu>
      <mat-icon matTooltip="Add Image" (click)="onImage()">image</mat-icon>
      <mat-icon matTooltip="Archive" (click)="onArchive(items)">archive</mat-icon>
      <button mat-icon-button [matMenuTriggerFor]="menulist" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menulist>
        <button mat-menu-item> <span (click)="trashNote(items)">Delete Note</span></button>
        <button mat-menu-item [matMenuTriggerFor]="labels"><span>Add Label</span></button>
        <button mat-menu-item (click)="onQuestionAnswer(items)"><span>Ask Question</span></button>
      </mat-menu>
      <mat-menu #labels="matMenu">
        <mat-checkbox fxLayout="column" fxLayoutAlign="start start" #labelsList (click)="addLabelToNote(item,items)"
          *ngFor="let item of labelDetails">{{item.label}}</mat-checkbox>
      </mat-menu>

      <ng-template #question>
        <mat-card [ngStyle]="{'background':items.color}">
          <!-- <mat-card-header> -->
          <p> {{items.title}} </p>
          <p> {{items.description}} </p>
          <!-- </mat-card-header> -->
        </mat-card>
        <app-editor [NoteForChild]="items"></app-editor>
      </ng-template>

    </div>



    <!-- mat-card -footer -->

    <mat-card-footer *ngIf="items.questionAndAnswerNotes.length > 0" style="padding: 5px;">
      <div style="padding: 5px;border: 1px solid rgb(99, 102, 102);border-radius: 10px;">
        <p fxLayoutAlign="center center">
          <span style="text-align: center"> Question Asked !</span>
        </p>
        <hr style="border:0.5px solid black">
        <div
          style="border-radius: 10px;font-size: 12px;margin: 10px;box-shadow: 0px 0px 2px;background: rgb(216, 212, 212);font-family:monospace"
          *ngFor="let ques of items.questionAndAnswerNotes | slice:0:1;let i = index">
          <!-- {{q.message}} -->
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div style="margin-left: 5px;word-wrap: break-word" (click)="onReply(items)" innerHTML="{{ques.message}}">
            </div>

            <!--                         
                        <div fxLayoutAlign="space-between" class="msgIcon"> 
                          <button mat-icon-button (click)="onReply(reply)" > <mat-icon> reply </mat-icon> </button>
                          <button mat-icon-button> <mat-icon> thumb_up </mat-icon></button>{{ques.like.length}}   
                          <button mat-icon-button> <mat-icon> star_border </mat-icon> </button> 
                        </div> -->

          </div>

          <ng-template #reply>
            <app-questionanswericon [question]="ques.message" [questionId]="ques.id"></app-questionanswericon>
          </ng-template>

        </div>

      </div>


    </mat-card-footer>



    <!-- ng-template for reply -->



    <!-- ng-template for reply endddddddddddddddddd -->



    <!-- mat-card-footer endddddddddddddddd -->




    <ng-template #myTemplate>
      <div style="text-align: center;">
        <p> Collaborators </p>
      </div>
      <mat-divider></mat-divider>
      <div>
        <div class="m-2"></div>


        <mat-card-header>
          <div mat-card-avatar
            [ngStyle]="{'background-image' : 'url('+'http://34.213.106.173/'+items.user.imageUrl+')'}"
            class="example-header-image"></div>
          <mat-card-title> {{ items.user.firstName }} <span>(Owner)</span> </mat-card-title>
          <mat-card-subtitle> {{items.user.email}} </mat-card-subtitle>
        </mat-card-header>


        <mat-divider></mat-divider>

        <div fxLayout="column" style="margin-top: 1%" *ngIf="items.collaborators.length>0">
          <mat-card-header *ngFor="let col of items.collaborators" fxLayout="row" fxLayoutAlign=" center">

            <div mat-card-avatar class="example-header-image" fxLayoutAlign="center center"
              style="background: rgb(163, 160, 163)">{{col.firstName[0]}}</div>

            <div>
              <mat-card-title> {{ col.firstName }} </mat-card-title>
              <mat-card-subtitle> {{col.email}} </mat-card-subtitle>
            </div>

            <div fxLayoutAlign="center end">
              <button mat-button color="warn" matTooltip="Remove Collab" style="cursor: pointer"
                (click)="onRemoveCollaborator(col.userId,items)">
                <mat-icon mat-icon-button>check</mat-icon>
              </button>
            </div>


            <mat-divider></mat-divider>
          </mat-card-header>
        </div>


      </div>

      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div mat-card-avatar fxLayoutAlign="center center" [style.border]="'1px solid'">
          <mat-icon>person_add</mat-icon>
        </div>
        <mat-form-field style="width: 100%;">
          <!-- <mat-card-header> -->
          <input (keyup)="onKey(inputvalue.value)" #inputvalue matInput [formControl]="searchinput"
            placeholder="Person or email to share with" [matAutocomplete]="auto" type="text">
          <!-- </mat-card-header> -->

          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let user of searchArray" [value]="user">
              {{user.email}}
            </mat-option>
          </mat-autocomplete>

        </mat-form-field>
        <div dir="rtl">
          <button mat-button style="margin-right:0px" (click)="onCollaborate(items)">Save</button>
        </div>
      </div>
      <!-- <mat-form-field>
                  <mat-select [(ngModel)]="selectedValue" name="user">
                    <mat-option *ngFor="let user of searchArray" [value]="user.value">
                      {{user.email}}
                    </mat-option>
                  </mat-select>
              </mat-form-field> -->


    </ng-template>


  </mat-card>

  <ng-container *ngIf="show">
    <div>
      <!-- <mat-card-header> -->
      <p> {{items.title}} ghdhdfh </p>
      <p> {{items.description}} </p>
      <!-- </mat-card-header> -->
    </div>
    <app-editor [NoteForChild]="items"></app-editor>
  </ng-container>

</div>