.toolbar{
    border-bottom: 1px solid rgba(168, 166, 166,0.5);
    height: 3.5rem;
    position: fixed;
    z-index: 2;
    // width: 100%;
}

.avatar{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-image: url('../../../assets/images/nature.jpeg');
    background-size: cover;
    position: relative;
    border: 1px solid;
    left: 25%;
    top: 0%;
}

// #modalC{
//     position: absolute;
// }

.header-image{
    height: 2.5rem;
}

.cardDiv{
    margin-left: 3%;
    text-decoration: none;
}

#toolbarSearch{
//    height: 0rem;
//    display: flex;
//    flex-direction: row;
   align-items: center;
   width: 50vw;
   top: -5px;
//    border-radius: 15px;
   box-shadow: 0px 1px 2px rgba(0, 0,0,0.2);

}
.searchinput{
    outline: none;
    border: none;
    height: 2.5rem;
    margin-left: 2%;
    font-size: 15px;
    background: rgba(0, 0 , 0 , 0)
}

#viewIcons{
 font-size: 20px;   
}

 /* side navigation css start.*/

.sidenavContent{
    width: 100%;
    position: absolute;
    right: 0;
    // bottom: 0;

    // left: 15%;
    // border: 1px solid;
}

.sideNavContainer{
    position: absolute;
    top: 3.5rem;
    left: 0;
    right: 0;
    bottom: 0;

}



.sidenavigation{
    position: absolute;
    // border: 1px solid orchid;
    width: 250px;
    height: 100%;
}

.active{
    background-color: #FEEFC3;
}

.listItems{
    // display: flex;
    // flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
}
#sidenavList{
    text-align: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding:15px 15px 15px 15px;
    font-size: 10px;
    height: 50px;
}

.listIcons{
position: relative;
right: 15px;
}

.listNames{
    font-size: 14px;
}

.matAvatar{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-size: cover;
}

.profileavatar{
    border: none;
    height: 70px;
    width: 70px;
}
.material-icons:hover{
    cursor: pointer;
}



.searchBorder{
    border: 1px solid rgb(165, 162, 162);
   box-shadow: 0px 2px 2px rgba(0, 0,0,0.2);

    border-radius: 5px;
    // background: rgb(165, 163, 163)
}
#heading{
    color: rgb(65, 64, 62);
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
@media screen and (max-width:650px){
    .cardDiv{
        width: 50%
    }
    .fundooHeader{
        font-size: 5px;
    }
}
@media screen and (max-width:910px){
    #heading{
        font-size: 16px;
    }
}
@media screen and (max-width:835px){
    #heading{
        font-size: 14px;
        font-weight: 500;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .cardDiv{
        // margin-left: 4%;
    }
}
@media screen and (max-width:768px){
    .fundooHeader{
        flex-wrap: wrap;
    }
    .header-image{
        display: none;
    }

}
@media screen and (max-width:600px){
    #heading{
        font-size: 1rem;
        margin: auto 15px;
        font-weight: 300;
        letter-spacing: 2px
    }
}