<div class="toolbar-div">
  
    <mat-toolbar class="toolbar">
      <div>
        <i (click)="sidenav.toggle()" class="material-icons"> dehaze  </i>
      </div>

      <div class="fundooHeader">
          <div>
            <img src="../../../assets/images/download.png" class="header-image" alt="">
          </div>
          <div class="fundooName">
            <span id="heading">{{headingName}}</span>
          </div>
      </div>

      <div class="cardDiv">
        <mat-card id="toolbarSearch">
           <i class="material-icons">search</i> <input matInput [formControl]="search" (keyup)="onKey(search.value)"   class="searchinput" placeholder="Search">
        </mat-card>
      </div>

      <div>
        <i id="viewIcons" class="material-icons" style="display: none;">view_stream</i>
        <i id="viewIcons" class="material-icons" style="display: none;">view_module</i>
      </div>

      <div style="border: 1px solid;position:relative;justify-content: flex-end;left: 20%">
      <img [matMenuTriggerFor]="menu" mat-card-avatar  [src]="" [alt]="">
      </div>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="imageupload()">Upload Profile Pic</button>
        <button mat-menu-item (click)="signOut()">Sign Out</button>
      </mat-menu>

    </mat-toolbar>

</div>

<mat-sidenav-container class="sideNavContainer">

  <mat-sidenav #sidenav mode="side" class="sidenavigation">
    <mat-nav-list class="listItems">
      
              <div id="sidenavList" class="active">
                  <mat-list-item class="sidelist"  (click)='getName()' routerLink="notes"> 
                    <span><mat-icon class="listIcons">lightbulb_outline</mat-icon></span> 
                    <span  #sidenavList1 class="listNames"> Notes </span> 
                  </mat-list-item>
              </div>

             

              <div id="sidenavList">
                  <mat-list-item class="sidelist" routerLink="remainder">
                      <span><mat-icon class="listIcons">notifications_none</mat-icon></span>
                      <span class="listNames"> Remainder </span> 
                  </mat-list-item>
              </div>

             
              <p style="font-size: 15px;padding-top: 5px;padding-left: 5px;">EDIT LABELS</p>
              <div id="sidenavList" style="padding-top: 0px">
                
                  <mat-list-item class="sidelist" (click)="editLabels()" routerLink="label"> 
                    <span><mat-icon class="listIcons">label_outline</mat-icon></span> 
                    <span class="listNames"  > Edit Labels </span>   
                  </mat-list-item>
              </div>

             
              
              <div id="sidenavList">
                  <mat-list-item class="sidelist" routerLink="archives"> 
                    <span><mat-icon class="listIcons">archive</mat-icon> </span> 
                    <span class="listNames"> Archives </span> 
                  </mat-list-item>
              </div>

             

              <div id="sidenavList">
                  <mat-list-item class="sidelist" routerLink="trash"> 
                    <span><mat-icon class="listIcons">delete_outline</mat-icon></span> 
                    <span class="listNames"> Trash </span> 
                  </mat-list-item>
              </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="sidenavContent">
      <router-outlet></router-outlet>
    <!-- <app-labels [childMessage]="parentMessage"></app-labels> -->
  </mat-sidenav-content>

 


</mat-sidenav-container>
