<div style="position: relative;">
  <mat-card [ngStyle]="" style="position:relative;">
  
        <p> <input type="text" aria-label="Title" value="{{title}}"  id="input" >  </p>
        <p> <input type="text" aria-label="Take a note..." value="{{description}}" id="input">   </p>
    
        <div class="mainIcons">
          <mat-icon matTooltip="Remind Me" >    notifications</mat-icon>
          <mat-icon matTooltip="Collaborator">  account_box</mat-icon>
          <mat-icon matTooltip="Change Color">  palette</mat-icon>
           
          <mat-icon matTooltip="Add Image">image</mat-icon>
          <mat-icon matTooltip="Archive" >archive</mat-icon>
        
        </div>
    
    
    </mat-card>
</div>