
  <mat-dialog-content class="card" [ngStyle]="{'background':data.color}"  style="position:relative;">
  
        <p> <input type="text" aria-label="Title" [formControl]="title" placeholder="Title Here..."  id="input" >  </p>
        <p> <input type="text" aria-label="Take a note..." [formControl]="description" placeholder="Description ..." id="input">   </p>
    
        <mat-card-footer class="mainIcons">
          <mat-icon matTooltip="Remind Me" >notifications</mat-icon>
          <mat-icon matTooltip="Collaborator">account_box</mat-icon>
          <mat-icon [matMenuTriggerFor]="menu" matTooltip="Change Color">palette</mat-icon>
          <mat-menu  #menu="matMenu" yPosition="above">
            <div class="row" mat-menu-item style="position: relative;max-width: 150px;"> 
                  <div  class="color"  (click)="updateColor(color)" *ngFor="let color of colors" [ngStyle]="{'background':color}">  </div>
            </div>
        </mat-menu>
          <mat-icon matTooltip="Add Image">image</mat-icon>
          <mat-icon matTooltip="Archive" >archive</mat-icon>
        
        </mat-card-footer>
        
        <mat-dialog-actions align="end">
            <button mat-button mat-dialog-close (click)="updateNote()" >Close</button>
        </mat-dialog-actions>
    </mat-dialog-content>
