<div style="height:100%;">
  <div class="archivemainDiv">
    <mat-card  *ngFor="let items of archivedList; let i = index"  fxLayout="row wrap" [style.background]="color"  [ngStyle]="{'background':items.color}" class="archiveCard" >
          
      <div (click)="updateNote(items)">
        <p> {{items.title}}  </p>
        <p> {{items.description}}   </p>
      </div>
    
    
      <div class="mainIcons" fxLayout="row" fxLayoutAlign="space-between center">
          <div>
            <app-icons (colorevent)="colorEvent($event)" (reminderevent)="reminderEvent($event)" (collaboratorEvent)="collab($event)" (archiveEvent)="archiveEvent($event)"></app-icons>
          </div>
                <!-- <mat-icon matTooltip="Remind Me" (click)="onNotification()">notifications</mat-icon>
                <mat-icon matTooltip="Collaborator" (click)="onCollaborator()">account_box</mat-icon>
                <mat-icon matTooltip="Change Color" [matMenuTriggerFor]="menu1">palette</mat-icon>
                <mat-menu  #menu1="matMenu" yPosition="above">
                    <div class="row" mat-menu-item style="position: relative;max-width: 150px;"> 
                          <div  id="color"  (click)="updateColor(items,color)" *ngFor="let color of colors" [ngStyle]="{'background':color}">  </div>
                    </div>
                </mat-menu>
                <mat-icon matTooltip="Add Image" (click)="onImage()">image</mat-icon>
                <mat-icon matTooltip="Un-Archive" (click)="onUnArchive(items)">unarchive</mat-icon>
                </button>
                -->
          <div>
            <button mat-icon-button [matMenuTriggerFor]="menulist" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
          </button>
            <mat-menu #menulist>
              <button mat-menu-item>     <span (click)="trashNote(items)" >Delete Note</span>         </button>
              <button mat-menu-item>     <span>Add Label</span>         </button>

            </mat-menu>
          </div> 
    
      </div>
    
    
    </mat-card>
  </div>
</div>